<h1>Edit This Bulk Discount</h1>
<%= form_with url: "/merchant/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}", method: :patch, local: true do |f| %>
  <%= f.label :percent_discount %>
  <%= f.text_field :percent_discount, value: @bulk_discount.percent_discount %>
  <%= f.label :qty_threshold %>
  <%= f.text_field :qty_threshold, value: @bulk_discount.qty_threshold %>
<% end %>
