<h2>Bulk Discounts For: <%= @merchant.name %></h2>

<p class ='ml-auto col-sm-5'>My Bulk Discounts</p>
<ul>
  <%  @merchant.bulk_discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <li><%= "#{discount.percent_discount}% off of #{discount.qty_threshold} or more items"  %></li>
    <p><%= link_to "This Discounts Page", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" %></p>
    <%= button_to "Delete Discount", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
  </section>
  <% end %>
</ul>

<p><%= link_to 'Create New Discount', "/merchant/#{@merchant.id}/bulk_discounts/new" %></p>
